
<div style="margin: 1rem; text-align: center">
    <div style="text-align: center">@Player.Name</div>
    <div class="progress--radial" data-progress="@((int)((Game.MaximumTimePerPlayer - Player.TimeTaken).TotalMilliseconds / Game.MaximumTimePerPlayer.TotalMilliseconds * 100))" style="margin: auto">
        <div class="progress--radial__mask progress--radial__mask--left">
            <div class="progress--radial__fill @Background"></div>
        </div>

        <div class="progress--radial__mask">
            <div class="progress--radial__fill @Background"></div>
            <div class="progress--radial__fill-fix @Background"></div>
        </div>

        <div class="progress--radial__center" style="background: url('@Player.AvatarUrl') center;"></div>
    </div>
    <div>@TimeLeftLabel()</div>
</div>

@functions
{
    [Parameter]
    private Game Game { get; set; }

    [Parameter]
    private Player Player { get; set; }

    [Parameter]
    public Func<bool> Active { get; set; }

    private string Background => Active() ? "background-color--green--3"
                                          : "background-color--blue--5";
    private string TimeLeftLabel()
    {
        var remaining = Game.MaximumTimePerPlayer - Player.TimeTaken;

        if (remaining.TotalDays >= 1) { return $"{remaining:d\\.hh\\:mm\\:ss}"; }

        if (remaining.TotalHours >= 1) { return $"{remaining:h\\:mm\\:ss}"; }

        return $"{remaining:mm\\:ss}";
    }
}